.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.btn_img {
    width: 20px;
    margin-right: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0.3rem;
    border-radius: 0.5rem;

    transition: box-shadow 1s,
}

.btn:hover {
    box-shadow: 3px 3px 4px 3px var(--secondary-color);
}

.btn:nth-child(1) {
    margin-right: 10px;
}

@media screen and (min-width: 769px) {
    .btn_container {
        margin-right: 400px;
    }
  }