.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.btn_img {
    width: 20px;
    margin-right: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;

    padding: 0.3rem;
    border-radius: 0.5rem;

    transition: box-shadow 1s,
}

.btn:hover {
    box-shadow: 5px 5px 10px 5px #252525;
}

.btn:nth-child(1) {
    margin-right: 10px;
}