.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.btn_img {
    width: 20px;
    margin-right: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0.3rem;
    border-radius: 0.5rem;

    transition: box-shadow 1s,
}

.btn:hover {
    box-shadow: 3px 3px 4px 3px #0d8670;
}

.btn:nth-child(1) {
    margin-right: 10px;
}