.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__footer_cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4em 2rem 2rem;
}

.app__footer_card {
  min-width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #B8BAB9;

  transition: all 0.3s ease-in-out;
}

.app__footer_card img {
  width: 40px;
  height: 40px;
  margin: 0 0.7rem;
}

.app__footer_card p {
  font-weight: 500;
}
.app__footer_card a {
  text-decoration: none;
  font-weight: 500;
}

.app__footer_card:hover {
  box-shadow: 5px 5px 10px 5px #252525;
}

@media screen and (max-width: 768px) {
  .app__footer {
    flex-direction: column;
  }
  .app__footer-card {
    width: 100%;
  }
}
