.app {
  font-family: var(--font-base);  background-image: linear-gradient(rgba(0,0,0,1) 30%, rgba(0,69,83,1) 100%);
}

.app__container {
  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.copyright_text {
  color: white;
  text-transform: uppercase;
}

.head_text {
  color: var(--white-color);
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}


.p_text {
  font-size: 0.8rem;
  line-height: 1.5;
  background-color: transparent;
}

.bold_text {
  font-size: 1rem;
  font-weight: 800;
  text-align: left;
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 1rem;
}

@media screen and (max-width: 450px) {
  .bold_text {
    font-size: 0.9rem;
  }
  .app__wrapper {
    padding: 4rem 1rem 2rem;
  }
  .head_text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 2000px) {
  .bold_text {
    font-size: 2rem;
  }
  .head_text {
    font-size: 4rem;
  }
  .p_text {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}
